@import url(https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:regular,500,600);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--light-grayish-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-family: "Barlow Semi Condensed";
}

.card {
  border-radius: 1em;
  overflow: hidden;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.purple {
  background-color: var(--moderate-violet);
  color: white;
}

.gray {
  background-color: var(--very-dark-grayish-blue);
  color: white;
}

.black {
  background-color: var(--very-dark-blackish-blue);
  color: white;
}

.white {
  background-color: var(--white);
  color: black;
}

.container {
  margin: 5em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.card-user {
  display: flex;
  align-items: center;
  gap: 1em;
}

.user-left > img {
  border: solid 2px white;
  border-radius: 100%;
  width: 40px;
  aspect-ratio: 1;
}

.user-right > h1 {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 0.125em;
}

.user-right > h2 {
  font-size: 0.75rem;
  font-weight: 400;
  filter: opacity(50%);
}

.card-main {
  font-size: 1.25rem;
  font-weight: 500;
}

.card-desc {
  filter: opacity(70%);
  font-size: 0.8rem;
  font-weight: 400;
}

.para {
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 20%;
}

@media (min-width: 800px) {
  .container {
    margin: 5%;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .container > *:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .container > *:nth-child(2) {
    grid-row: 1/2;
    grid-column: 3/4;
  }
  .container > *:nth-child(3) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .container > *:nth-child(4) {
    grid-row: 2/3;
    grid-column: 2/4;
  }

  .container > *:nth-child(5) {
    grid-row: 1/3;
    grid-column: 4/5;
  }
}
