@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:500,700,900);

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: contain;
  background-image: url("./images/pattern-background-mobile.svg");
  background-color: var(--pale-blue);
  background-repeat: no-repeat;
  font-family: "Red Hat Display";
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@media (min-width: 400px) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
  }
}

.card {
  margin: 1.5em;
  max-width: 400px;
  border-radius: 1em;
  background-color: white;
}

.card-header > img {
  max-width: 100%;
  border-radius: 1em 1em 0 0;
}

.card-content {
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 400px) {
  .card-content {
    padding: 2em 3em;
  }
}

.card-title {
  font-weight: 900;
  font-size: 1.375em;
}

.card-description {
  padding: 1em 0;
  text-align: center;
  color: var(--desaturated-blue);
}

.card-cart {
  display: flex;
  min-width: 100%;
  gap: 1em;
  background-color: var(--very-pale-blue);
  border-radius: 0.5em;
  margin: 1em 0;
  padding: 1em 0;
  font-size: 14px;
  color: var(--dark-blue);
}

@media (min-width: 400px) {
  .card-cart {
    margin-bottom: 2em;
  }
}

.card-cart-icon {
  margin-left: 1em;
  justify-self: flex-start;
  display: flex;
  justify-content: center;
}

.card-cart-desc {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
}

.card-cart-desc > h2 {
  font-size: 15px;
  margin: 0;
}
.card-cart-desc > p {
  margin: 0;
  color: var(--desaturated-blue);
}

.card-cart-change {
  justify-self: flex-end;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-cart-change > a {
  color: var(--dark-blue);
}

.card-cart-change > a:hover {
  text-decoration: none;
}

.card-btn {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  cursor: pointer;
  background-color: white;
  color: var(--desaturated-blue);
  border-radius: 1em;
  font-weight: 700;
}

.card-btn > a {
  text-decoration: none;
  color: var(--desaturated-blue);
}

.card-btn > a:hover {
  color: var(--dark-blue);
}

.card-btn.active {
  background-color: var(--bright-blue);
  color: white;
  box-shadow: 0px 10px 20px 1px hsla(245, 75%, 52%, 0.2);
  z-index: 1;
}

.card-btn.active:hover {
  background-color: var(--dark-blue);
}

.card-btn.active > a {
  color: white;
}
