@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Fraunces:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: hsl(158, 36%, 37%);
    --clr-bg: hsl(30, 38%, 92%);
    --clr-dark-blue: hsl(212, 21%, 14%);
    --clr-graysih-blue: hsl(228, 12%, 48%);

    --fs-body: 14px;
}

body {
    background-color: var(--clr-bg);
}

.card {
    margin: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.image {
    background: url("./images/image-product-mobile.jpg");
    background-position: fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}