@import url(https://fonts.googleapis.com/css?family=Montserrat:500,700);
@import url(https://fonts.googleapis.com/css?family=Fraunces:700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

:root {
    --clr-primary: hsl(158, 36%, 37%);
    --clr-bg: hsl(30, 38%, 92%);
    --clr-dark-blue: hsl(212, 21%, 14%);
    --clr-graysih-blue: hsl(228, 12%, 48%);

    --fs-body: 14px;
}

body {
    background-color: var(--clr-bg);
    font-size: var(--fs-body);
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    margin: 2em 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    overflow: hidden;
}

@media (min-width: 700px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 650px;
    }

}

.main-content {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

p {
    line-height: 1.75;
    color: var(--clr-graysih-blue);
    margin-bottom: 1em;
}

h1 {
    font-family: Fraunces, sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: .875rem;
    letter-spacing: .5em;
    color: var(--clr-graysih-blue);
}

.prices {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: .5em;
}

.main-price {
    color: var(--clr-primary);
}

.before-price {
    text-decoration: line-through;
    font-size: 1.125rem;
    color: var(--clr-graysih-blue);
}

button {
    border: none;
    display: flex;
    justify-content: center;
    gap: 1em;
    background: var(--clr-primary);
    padding: 1rem;
    font-family: inherit;
    color: white;
    font-weight: bold;
    border-radius: 1em;
}